[package]
name = "sombra-testkit"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[lib]
path = "src/lib.rs"

[dependencies]
rand = "0.8"
sombra-types = { workspace = true }
