[package]
name = "sombra-io"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[lib]
path = "src/lib.rs"

[dependencies]
sombra-types = { workspace = true }

[dev-dependencies]
tempfile = "3.10.1"
